@using Logaro.Models;
@model IEnumerable<WebApplication>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div>
        <div style=" background-color: hotpink"><h2 align="center">@ViewData["AppName"] Web Application Log</h2></div>
       
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
  
        <div class="editor-field">
            <h4 align="left">Choose Web Application!</h4>
            
            @Html.DropDownList("WebApplication", ViewData["LogList"] as IEnumerable<SelectListItem>)

            @*@Html.ValidationMessageFor( == "Choose App", "Fel val")*@<br /><br />
            <input id="app1" type="submit" value="Run" />
        </div>
                <br />
                <div style="color:crimson">
                    @TempData["Message"]
                </div>
            
        }
        </div>
</body>
</html>